.avenger{
    margin-top: 5rem;
    span{
        font-size: 0.85rem;
    }
    h1{
        font-size: 5rem;
        font-weight: bold;
        color: #1C1F27;
    }



    

}

img {
    height: 42rem;
}