<div class="row  justify-content-around mt-5">
    <div class="col-4 avenger">
        <span>Marvel Caracter</span>
        <h1>CAPTIAN AMERICA</h1>
        

        <h2>Steve Rogers</h2>
        <p>Captain America is the alter ego of Steve Rogers, a frail young artist enhanced to the peak of human
            perfection by an experimental "super-soldier serum" after joining the military to aid the United States
            government's efforts in World War II.
        </p>
    </div>
    <div class="col-4">
        <img src="../../../assets/img/avengers-cap-american.png" alt="iron-man">
    </div>
</div>