<div class="container mt-4">
    <div class="row justify-content-center ">
        <div class="col-5">
            <img src="../../assets/img/marvel-logo.png" alt="marvel-logo">
        </div>
        <div class="col-5">
            <ul class="nav justify-content-center">

                <li class="nav-item" [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{ exact: true } ">
                    <a class="nav-link  active" [routerLink]="['/']">Iron Man</a>
                </li>
                <li class="nav-item" [routerLinkActive]="['link-active']">
                    <a class="nav-link " [routerLink]="['/captianamerican']">Captian American</a>
                </li>

            </ul>

        </div>

    </div>

</div>