<div class="row  justify-content-around mt-5">
    <div class="col-4 avenger">
        <span>Marvel Caracter</span>
        <h1>IRON MAN</h1>

        <h2>Tony Stark</h2>
        <p>Iron Man is a superhero appearing in American comic books published by Marvel Comics. Each of Tony’s
            suits provides a full range of telecommunications, sophisticated artificial intelligence capable of
            piloting Tony to safety should he be rendered unconscious.
        </p>
    </div>
    <div class="col-4">
        <img src="../../../assets/img/avengers-iron-man.png" alt="iron-man">
    </div>
</div>
